@import '../mixins';

.social {
  background-color: var(--dark);
  padding: 30px 0;
  .content {
    display: flex;
  }
  &__links {
    flex: 3;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    .header {
      margin-bottom: 50px;
      margin-top: 0;
    }
    .title {
      border-color: var(--primary);
    }
    > * {
      margin-bottom: 30px;
    }
  }
  &__twitter {
    padding: 10px;
    background-color: var(--light);
    width: fit-content;
  }
  &__icon {
    color: var(--light);
    height: 20px;
    width: 20px;
    margin-right: 20px;
    &.stack-overflow {
      height: 40px;
      width: 40px;
    }
  }
  &__row {
    display: flex;
    align-items: center;
  }
  &__link {
    @include link();
  }
  &__blog {
    img {
      max-height: 40px;
    }
  }
  &__stack-overflow {
    display: flex;
    align-items: center;
    color: var(--light);
    font-weight: 700;
  }
  &__label {
    color: var(--light);
    font-weight: 700;
    margin-bottom: 10px;
  }
}

.twitter {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__timeline {
    width: 100%;
    height: 400px;
    overflow: scroll;
    border: 1px var(--dark) solid;
  }
}
