@import 'mixins';

.experience {
  $dot-size: 28px;
  display: flex;
  margin: 0 20px;
  width: 100%;
  justify-content: center;
  position: relative;
  &__dot {
    width: $dot-size;
    height: $dot-size;
    border-radius: calc(#{$dot-size} / 2);
    background-color: var(--primary);
    margin: 0 5px;
    position: relative;
    &--filled {
      &:after {
        content: '';
        width: $dot-size;
        height: $dot-size;
        position: absolute;
        background-color: var(--dark);
        border-radius: calc(#{$dot-size} / 2);
      }
    }
    &--half {
      &:after {
        width: calc(#{$dot-size} / 2);
        border-radius: calc(#{$dot-size} / 2) 0 0 calc(#{$dot-size} / 2);
      }
    }
  }

  &__value {
    font-weight: 700;
    font-size: 1.1rem;
  }

  .experience__tooltip {
    @include tooltip();
    top: -85px;
    font-size: 0.9em;
    width: 200px;
  }
  &:hover {
    cursor: pointer;
    .experience__tooltip {
      opacity: 1;
    }
  }
}
