:root {
  --primary: #a5c3ff;
  --dark: #3a5386;
  --accent: #daff8c;
  --dark-accent: #0003ff;
  --light: #fff;
}

@import 'navbar';
@import 'mixins';
@include content;
@import 'experience';
@import 'partials/technologies';
@import 'partials/jobs';
@import 'partials/social';

@include loader();

@font-face {
  font-family: font;
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: font;
  src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: font, serif;
  background-color: var(--primary);
}

* {
  box-sizing: border-box;
}

.page-header {
  $background-color: var(--dark);
  background-color: $background-color;
  padding: 50px 0;
  color: var(--light);

  &__title {
    @include title();
    margin-bottom: 20px;
  }

  &__row {
    display: flex;
    position: relative;
  }

  $img-size: 340px;

  &__description {
    margin-left: calc(#{$img-size} + 50px);
    margin-top: 10px;
    font-size: 1.2em;
  }

  &__img {
    max-width: $img-size;
    border-radius: calc(#{$img-size} / 2);
    position: absolute;
    border: 2px solid $background-color;
  }

  @media (max-width: 768px) {
    &__title {
      text-align: center;
    }
    &__row {
      flex-direction: column;
      align-items: center;
    }
    &__img {
      position: relative;
      border: none;
    }
    &__description {
      margin-left: 0;
    }
    &__img {
      max-width: 240px;
      border-radius: calc(240px / 2);
    }
  }
}

footer {
  width: 100%;
  background-color: var(--dark);
  color: var(--light);
  padding: 20px;
  display: flex;
  justify-content: center;
  .content {
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 768px) {
    text-align: center;
    .content {
      flex-direction: column-reverse;
      align-items: center;
    }
    .copyright {
      margin-top: 20px;
    }
  }
}

.source {
  &__link {
    @include link();
  }
}

.private-life {
  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  $img-size: 300px;
  &__img {
    width: $img-size;
  }
  &__description {
    margin-left: 50px;
    width: calc(100% - #{$img-size} - 50px);
  }
  &__link {
    @include link();
  }

  @media (max-width: 900px) {
    $img-size: 240px;
    &__img {
      width: $img-size;
    }
    &__description {
      margin-left: 30px;
      width: calc(100% - #{$img-size} - 30px);
    }
  }
  @media (max-width: 768px) {
    .content {
      flex-direction: column-reverse;
    }
    &__description {
      margin-left: 0;
      width: 100%;
    }
  }
}
