:root {
  --primary: #a5c3ff;
  --dark: #627db3;
  --accent: #daff8c;
  --dark-accent: #9bb36b;
  --light: #eee;
}

@import 'navbar';
@import 'mixins';
@import 'experience';

@include content;

@font-face {
  font-family: font;
  src: url(../fonts/OpenSans-Regular.ttf);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: font, serif;
}

.header {
  $background-color: var(--primary);
  background-color: $background-color;
  padding: 50px 0;

  &__title {
    @include title();
    margin-bottom: 20px;
  }

  &__row {
    display: flex;
    position: relative;
  }

  $img-size: 200px;

  &__description {
    margin-left: calc(#{$img-size} + 20px);
    margin-top: 10px;
    font-size: 1.2em;
  }

  &__img {
    max-width: $img-size;
    border-radius: 100px;
    position: absolute;
    border: 2px solid $background-color;
  }
}

.tech {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  height: 480px;

  &__header {
    @include title();
    margin-top: 40px;
  }
  &__title {
    border-bottom: solid 2px var(--dark);
  }

  &__card {
    box-shadow: 0px 0px 23px -8px rgba(0, 0, 0, 0.75);
    width: 240px;
    margin: 20px;
    border-radius: 10px;
    padding: 25px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    .experience {
      margin: 20px 0;
    }
  }

  &__img {
    $size: 130px;
    min-height: $size;
    max-height: $size;
    font-size: 0.8em;
    margin-bottom: 20px;
    & ~ .tech__img-tooltip {
      @include tooltip();
    }
    &:hover {
      cursor: pointer;
      & ~ .tech__img-tooltip {
        display: block;
      }
    }
  }

  &__button {
    background-color: var(--dark);
    color: var(--light);
    font-size: 1em;
    outline: none;
    padding: 10px 20px;
    transition: all 150ms ease;
    &:hover {
      color: var(--primary);
      cursor: pointer;
    }
  }
}
