@import 'mixins';
@include content();

.content {
  padding: 0 14px;
}

.article {
  @include card();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  &__title {
    @extend .title;
    width: 100%;
    margin-top: 0;
    padding-bottom: 3px;
  }
  &__description {
    margin-top: 10px;
  }
  &__date {
    width: 100%;
    margin-bottom: 10px;
  }
  &__category {
    display: flex;
    align-items: center;
    img {
      width: 24px;
      margin-right: 10px;
    }
  }
}
