@import 'mixins';
@include content();

.articles .content {
  padding: 0 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.types {
  display: flex;
  margin: 10px 0;
  &__info {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    &:nth-of-type(1) {
      margin-right: 10px;
    }
  }
  &__icon {
    width: 18px;
  }
}

.article {
  @include card();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 600px;
  padding: 20px 18px;
  &__title {
    @extend .title;
    width: 100%;
    margin-top: 0;
    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  &__description {
    margin-top: 10px;
  }
  &__date {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  &__category {
    display: flex;
    align-items: center;
    img {
      width: 24px;
      margin-right: 10px;
    }
  }
  &__type {
    width: 20px;
  }
  @media (min-width: 360px) {
    padding: 20px 26px;
  }
}
