.navbar {
  $color: #000;
  $color-hover: var(--dark);
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: solid 2px $color;
  padding: 0 20px;
  &__content {
    max-width: 1024px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 2em;
    color: $color;
    font-weight: 700;
    margin: 20px 0;
    &:hover {
      color: $color-hover;
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-item {
      list-style: none;
      margin-left: 50px;
    }
  }
  a {
    text-decoration: none;
    color: $color;
    font-size: 1.1em;
    transition: all 150ms ease;
    font-weight: 700;
    &:hover {
      color: $color-hover;
    }
  }
}
